body {
    padding: 0;
    margin: 0;
    background: #f2f6e9;
}
.navbar {
    background:#209ee7;
}
.nav-link,
.navbar-brand {
    color: #fff;
    cursor: pointer;
}
.nav-link {
    margin-right: 1em !important;
}
.nav-link:hover {
    color: #000;
}
.navbar-collapse {
    justify-content: flex-end;
}

/* container 
#container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl {
  width: 100%;
  padding-right: 0px;
  padding-left: 0px;
  margin-right: auto;
  margin-left: auto;
}*/

/* headers */
.header {
    background-image: url('images/logo.png');
    background-size: cover;
    background-position: center;
    position: relative;
    height: 30%;
    background: rgba(0, 0, 0, 0.6);
    margin-bottom: 10%;
}

.overlay {
  position: absolute;
  height: 50%;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.6);
}

.description {
	left: 50%;
	position: absolute;
	top: 45%;
	transform: translate(-50%, -55%);
	text-align: center;
}
.description h1 {
	color: #054daa;
}
.description p {
	color: #fff;
	font-size: 1.3rem;
	line-height: 1.5;
}
/*for vote button*/
.description button {
  border:1px solid #0a089e;
  background:#679fb9;
  border-radius: 0;
  color:#fff;
}
.description button:hover {
border:1px solid #fff;
  background:#fff;
  color:#000;
}

.aposition {
  background-color:rgb(156, 227, 255);
  position: absolute;
  top: 1500%;
}

/*for main page columns*/
.features {
	margin: 4em auto;
	padding: 1em;
  position: absolute;
  justify-content: center;
  top: 10%;
}
/*contains pictures for ideas*/

.feature-title {
	color: #333;
	font-size: 1.3rem;
	font-weight: 700;
	margin-bottom: 20px;
	text-transform: uppercase;
}
.features img {
	-webkit-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
	-moz-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
	box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
    width:  285px;
    height: 175px;
    justify-content: center;
    display: flex;
   /* margin-bottom: 16px;
    margin:auto;*/
}

.page-footer {
    background-color: #222;
    color: #ccc;
    padding: 60px 0 30px;
}
.footer-copyright {
    color: #666;
    padding: 40px 0;
}
