body {
  padding: 0;
  margin: 0;
  background: #f2f6e9;
}
.navbar {
  background:#5d9a9c;
}
.nav-link,
.navbar-brand {
  color: #fff;
  cursor: pointer;
}

.navbar-brand img{
  height: 40px;
  width: auto;
}

.logo {
  width:20px;
  height: 20px;
}
.nav-link {
  margin-right: 1em !important;
}
.nav-link:hover {
  color: #000;
}
.navbar-collapse {
  justify-content: flex-end;
}

.header {
  background: rgba(3, 28, 110, 0.6);
  background-size: cover;
  background-position: center;
  position: absolute;
  top: 25%;
}
/* intro text */
.overlay {
  position: absolute;
  min-height: 100%;
  min-width: 100%;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.6);
}

.description {
left: 50%;
position: absolute;
top: 60px;
transform: translate(-50%, -55%);
text-align: center;
  margin: 20px;
}
.description h1 {
color: #010201;
}
.description p {
color: #fff;
font-size: 1.3rem;
line-height: 1.5;
}

.description button {
  border:1px solid #000000;
  background:#149494;
  border-radius: 0;
  color:#fff;
  margin-bottom: 20%;
}
.description button:hover {
border:1px solid #fff;
  background:#fff;
  color:#000;
}
/* images for columns */
.features {
margin: 15% 1px 10px 1px;
padding: 1em;
position: relative;
  top:15%;
}

.feature-title {
color: #333;
font-size: 1.3rem;
font-weight: 700;
margin: 10% 0px 20px 0px;
text-transform: uppercase;
}
.features img {
-webkit-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
-moz-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
margin-bottom: 16px;
  width:  285px;
  height: 175px;
}
/* footer */
.page-footer {
  background-color: #222;
  color: #ccc;
  padding: 25px 0px 35px 0px;
  margin: 1% 0% 0% 0%;
}
.footer-copyright {
  color: #666;
  margin: 10px 0px 0px 0px;
}

/* form */
.features .form-control,
.features input {
border-radius: 0;
}
.features .btn {
  background-color: #589b37;
  border: 1px solid #589b37;
  color: #fff;
  margin-top: 20px;
}
.features .btn:hover {
  background-color: #333;
  border: 1px solid #333;
}

.join {
  margin: 10% 0% 5% 0%;
  padding: 0% 10% 0% 10%;
}

/* timeline */

:root {
  --primary-color: #fff; /* try #212121 also for dark mode */
  --background-color: #212121;
  --font: sans-serif;
}

* {
  margin: 0;
  padding: 0;
}

/* Timeline Container */
.timeline {
  background: var(--primary-color);
  margin: 20% 30% 5% 30%;
  padding: 20px;
}

/* Outer Layer with the timeline border */
.outer {
  border-left: 2px solid #333;
}

/* Card container */
.card {
  position: relative;
  margin: 0 0 20px 20px;
  padding: 10px;
  background: #333;
  color: gray;
  border-radius: 8px;
  max-width: 400px;
}

/* Information about the timeline */
.info {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/* Title of the card */
.title {
  color: #149494;
  position: relative;
}

/* Timeline dot  */
.title::before {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  background: white;
  border-radius: 999px;
  left: -37px;
  border: 3px solid #149494;
}